body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#map {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 85vw;
  height: 65vh;
  margin: auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .flight-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgreen;
  }

}
