body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column; }

#map {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 300px; }

.flight-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin: 2% auto; }
